# Consultas Puerto Montt, texto, tablas, info, etc

In [107]:
# --- General ---
# import os

# --- Data ---
import pandas as pd
from pandasql import sqldf
import numpy as np
# import statistics as stats
import random

# --- Conexión ---
# import elasticsearch

# --- Procesamiento lenguaje: spacy ---
# import spacy
# from spacy.matcher import Matcher
# from spacy.matcher import PhraseMatcher

# --- Procesamiento lenguaje: gensim ---
# import gensim
# import gensim.corpora as corpora
# from gensim.models import CoherenceModel

# --- Prediccion Positividad: POS, NEU, NEG ---
# from tqdm import tqdm
# from transformers import pipeline
# from transformers import AutoTokenizer, AutoModelForSequenceClassification

# --- Visualización ---
# import pyLDAvis
# import pyLDAvis.gensim_models
# import matplotlib.colors as colors
# import matplotlib.pyplot as plt
# import geopandas as gpd
%matplotlib inline

# ==============================================================================

# --- Configuración ---
# User password
# password = os.environ.get('SOPHIA2')

# - - - geoData - - -
import tools_region as tr

# --- Funciones ---
# Cargar paquete de español mediano
# nlp = spacy.load("es_core_news_md")

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

### Extraemos los datos a dataframe

In [108]:
df_GENERAL = pd.read_csv('data/data_Region_X_GENERAL_comunas_2022-01-01_2022-06-30_dominant_topic_sin_duplicados.csv', encoding='utf-8')
df_EMPLEO = pd.read_csv('data/data_Region_X_EMPLEO_comunas_2022-01-01_2022-06-30_dominant_topic_sin_duplicados.csv', encoding='utf-8')

### Filtramos los datos por 'Puerto Montt'

In [109]:
df_GENERAL_1 = df_GENERAL[df_GENERAL['Puerto_Montt'] >0]
df_GENERAL_1 = df_GENERAL_1[['document_No','dominant_Topic', 'topic_Perc_Contrib', 'keywords', 'text','title', 'id_news', 'url','media_outlet','date','title_label','title_score', 'Puerto_Montt']]
df_EMPLEO_1 = df_EMPLEO[df_EMPLEO['Puerto_Montt'] > 0]
df_EMPLEO_1 = df_EMPLEO_1[['document_No','dominant_Topic', 'topic_Perc_Contrib', 'keywords', 'text','title', 'id_news', 'url','media_outlet','date','title_label','title_score', 'Puerto_Montt']]

In [110]:
print(df_GENERAL_1.shape)
print(df_EMPLEO_1.shape)

(1155, 13)
(308, 13)

### ¿ Cuáles son los medios que más publican ?

In [111]:
sqldf('SELECT media_outlet,count(*) FROM df_GENERAL GROUP BY media_outlet ORDER BY count(*) DESC')

          media_outlet  count(*)
0     elheraldoaustral      1166
1            radiosago      1159
2         elrepuertero       656
3           elvacanudo       597
4          radiopudeto       317
5         radioacogida       317
6            elinsular       158
7          elcalbucano       157
8         elllanquihue       151
9       seminariolocal       141
10           elaustral        94
11  laestrelladechiloe        87
12            elhuemul        58
13          segundos33        19
14         fresiaahora        16
15        elquellonino        15

### ¿ Cuáles son los medios que más publican (EMPLEO)?

In [112]:
sqldf('SELECT media_outlet,count(*) FROM df_EMPLEO GROUP BY media_outlet ORDER BY count(*) DESC')

          media_outlet  count(*)
0     elheraldoaustral       485
1            radiosago       220
2          radiopudeto       137
3         radioacogida       126
4         elrepuertero       122
5           elvacanudo       113
6          elcalbucano        68
7       seminariolocal        63
8         elllanquihue        62
9            elinsular        54
10           elaustral        35
11  laestrelladechiloe        34
12            elhuemul        24
13         fresiaahora         5
14          segundos33         4
15        elquellonino         4

### ¿ Cuál es el media_outlet que más publica sobre Puerto Montt ?

In [113]:
sqldf('SELECT media_outlet,count(*) FROM df_GENERAL_1 GROUP BY media_outlet ORDER BY count(*) DESC')

          media_outlet  count(*)
0            radiosago       337
1     elheraldoaustral       264
2         elrepuertero       263
3         radioacogida        68
4          elcalbucano        43
5         elllanquihue        38
6          radiopudeto        34
7           elvacanudo        32
8       seminariolocal        19
9            elinsular        19
10            elhuemul        12
11          segundos33        11
12  laestrelladechiloe         7
13           elaustral         7
14        elquellonino         1

### ¿ Cuál es el media_outlet que más publica sobre Puerto Montt (EMPLEO) ?

In [114]:
sqldf('SELECT media_outlet,count(*) FROM df_EMPLEO_1 GROUP BY media_outlet ORDER BY count(*) DESC')

          media_outlet  count(*)
0     elheraldoaustral       118
1            radiosago        46
2         elrepuertero        32
3         radioacogida        30
4          elcalbucano        18
5         elllanquihue        15
6          radiopudeto        14
7       seminariolocal        11
8            elinsular         9
9             elhuemul         4
10           elaustral         4
11          segundos33         2
12  laestrelladechiloe         2
13          elvacanudo         2
14        elquellonino         1

### Noticias que son del tópico 3

In [115]:
r = sqldf('SELECT dominant_Topic, text, title, media_outlet FROM df_GENERAL_1 WHERE dominant_Topic = 3 LIMIT 15')
r = r.sample(len(r))
for i in r['title']:
    print(i)

Bus que trasladaba estudiantes universitarios volcó en ruta local: Más de 30 personas resultaron lesionadas
Carabineros habilita avanzadas temporales fronterizas para periodo estival en la Región de Los Lagos
Trabajador estuvo cerca de morir aplastado en una grúa: Personal de emergencias logró reanimarlo
Fiscal Regional de Los Lagos descarta cierre de investigación por presunta red de explotación sexual infantil
Patrulla especializada del Ejército con asiento en Osorno se suma a búsqueda de joven extraviado en Cochamó
Dictan veredicto condenatorio contra autor de homicidio de Monica Mansilla en Chiloé
Vehículo de bomberos volcó en Ensenada: iba a zona de búsqueda de joven desaparecido en Cochamó
Hombre muere ahogado en playa Totoral de Llanquihue
Detienen en Puerto Montt a sujeto que era buscado por homicidio frustrado en Osorno
Entró en vigencia la ley que permite el cambio en el orden de los apellidos
Detienen a hombre acusado de asesinar a joven en discoteque de Calbuco
Extienden búsqueda de joven desaparecido en Cochamó
Esta fue la sentencia para hombre condenado por homicidio en Puerto Montt
En su debut como visita en la Liga: Atlético cayó ante Ancud el sábado y derrotó a Castro el domingo
Dueña de perra fue sobreseída por la justicia: Mascota fue matada por sujeto que denunció ataque a cordero

### Noticias que son del tópico 0

In [116]:
r = sqldf('SELECT dominant_Topic, text, title, media_outlet FROM df_GENERAL_1 WHERE dominant_Topic = 0 LIMIT 15')
r = r.sample(len(r))
for i in r['title']:
    print(i)

432 contagios y 3 fallecidos dejó el covid-19 este lunes en la región de Los Lagos
Gobierno anuncia nuevos Seremis para la Región de Los Lagos.
178 contagios y 5 decesos dejó el covid-19 este lunes en la región de Los Lagos
Seremi de Agricultura presenta a nuevo director de CONAF en la Región de Los Lagos.
154 nuevos contagios de covid-19 se reportaron este miércoles en la región de Los Lagos
432 contagios de covid-19 se reportaron este domingo en la región de Los Lagos
140 contagios de covid-19 se reportaron este jueves en la región de Los Lagos
173 contagios y un fallecido por covid-19 se reportaron este viernes en la región de Los Lagos
63 nuevos contagios de covid-19 se reportaron este miércoles en la región de Los Lagos
387 contagios y 2 fallecidos dejó el covid-19 este sábado en la región de Los Lagos
Red Del Reloncaví cuenta con nuevas ambulancias para traslado de pacientes
71 nuevos contagios de covid-19 se reportaron este martes en la región de Los Lagos
302 nuevos contagios de covid-19 se reportaron este viernes en la región de Los Lagos
145 contagios de covid-19 se reportaron este viernes en la región de Los Lagos
141 contagios de covid-19 se reportaron este sábado en la región de Los Lagos

### Noticias que son del tópico 0 (EMPLEO)

In [117]:
r = sqldf('SELECT dominant_Topic, text, title, media_outlet FROM df_EMPLEO_1 WHERE dominant_Topic = 0')
r = r.sample(len(r))
for i in r['title']:
    print(i)

Matías Jullian, Músico y Payador
Día de la Danza: Conoce las compañías que se presentarán en el Teatro Diego Rivera
Del 14 de Febrero al 8 de Marzo: Julio Cortázar Tributo 2022 en Galería Machacoya en Puerto Varas
Periodista publica libro biográfico sobre el cineasta chileno Adelqui Millar
Detienen a hombre acusado de asesinar a joven en discoteque de Calbuco
Con capacitaciones en folklor andino y Rapa Nui Tupa Marka refuerza su repertorio
Mujer pierde la vida tras grave atropello en Puerto Montt: Conductor se dio a la fuga
El estreno en Chile de la música de escena para el cuento “El Principito” en el Décimo Tercer Festival Musical Chiloé.
"La celebración de los primeros veinticinco años de existencia del Colegio Germania" Por Rafael Piquer A. Investigador en Historia de la Región de Los Lagos
Cae presunto autor de atropello fatal en Puerto Montt
LA DEVOCIÓN A SAN LORENZO EN EL NORTE Y LAS TRADICIONES DE LA ZONA CENTRAL SERÁN PARTE DEL 1er FESTIVAL “ENCUENTRO DE PUEBLOS”
Se publicó novela “Todos contra la Banda de Basilio Pozas”
Recuperan más de 50 armas de fuego y cerca de 500 municiones
Kaikül: una atractiva fusión entre lo clásico y ancestral
"Fernando Santiván y su admiración por Puerto Varas" Por Rafael Piquer A. Investigador en Historia de la Región de Los Lagos
¿Buscando panorama? Banda puertovarina tocará con Santaferia en la región de Los Lagos
Académica de la U. San Sebastián desarrolla vacuna contra el Hantavirus
En el Centro de Arte Molino Machmar se lanza el libro “Las Formas del Olvido” del fotógrafo regional Francisco Donoso
PDI detiene a violento hombre que asaltaba a conductores en Puerto Montt
Carabineros investiga el violento asalto a familia de Valle Volcanes
OS9 de carabineros detiene en Puerto Montt a delincuente vinculados a tres delitos de robo

### Noticias que son del tópico 3 (EMPLEO)

In [126]:
r = sqldf('SELECT dominant_Topic, text, title, media_outlet FROM df_EMPLEO_1 WHERE dominant_Topic = 3')
r = r.sample(len(r))
r = r[:10]
for i in r['title']:
    print(i)

Osorno entre los destinos más cotizados: Sur de Chile lidera compra de pasajes en bus durante abril y mayo
Pilotos de la Fuerza Aérea realizan cursos de vuelo en Puerto Montt
Consejo Regional de Seguridad define prioridades para la región
Los Lagos: En control carretero incautan 1400 kilos de merluza del sur de origen ilegal.
Autoridades de Aduanas de Puerto Montt y Osorno se reunieron con Delegada Presidencial Regional
Postulaciones abiertas para capacitación científica en educación temprana en Los Lagos
Subsecretario de Desarrollo Regional Miguel Crispi se reúne con alcaldes de Llanquihue, Osorno y Palena para redefinir agenda de inversión con prioridad en la región
Incendios forestales en perímetro suburbano de Puerto Varas preocupan a vecinos y a bomberos
Vecinos de Francke y la Kolbe quedan sin locomoción por paro de choferes de la Línea 7
Descentralización será prioridad para gobernador y futura delegada, dijeron tras primera reunión

### Cantidad de noticias negativas, neutras y positivas

In [144]:
# Contamos noticias positivas, negativas y neutras
print('General: \n',df_GENERAL['title_label'].value_counts())
print()
print('Empleo: \n',df_EMPLEO['title_label'].value_counts())

General:
 NEU    3299
NEG    1275
POS     534
Name: title_label, dtype: int64

Empleo:
 NEU    1139
POS     221
NEG     196
Name: title_label, dtype: int64

In [138]:
# Contamos noticias positivas, negativas y neutras
print('General: \n',df_GENERAL_1['title_label'].value_counts())
print()
print('Empleo: \n',df_EMPLEO_1['title_label'].value_counts())

General:
 NEU    661
NEG    382
POS    112
Name: title_label, dtype: int64

Empleo:
 NEU    218
POS     46
NEG     44
Name: title_label, dtype: int64

### Noticias negativos, neutros, positivos Puerto Montt

In [141]:
def positividad_gen(atributo):
    r = sqldf(f'SELECT title, title_label, title_score, text, dominant_Topic, url FROM df_GENERAL_1 WHERE title_label = "{atributo}"')
    r = r.sample(len(r))
    r = r[:10]
    for i in r['title']:
        print(i)
    print()
positividad_gen('NEG')
positividad_gen('NEU')
positividad_gen('POS')

Condenan a 3 sujetos por homicidio de taxista: Uno de ellos es menor de edad
45 contagios de covid-19 se reportaron este lunes en la región de Los Lagos
Efectos de la masiva migración a la ciudad: Más de100 menores en lista de espera en colegios de la comuna de Puerto Varas
Ocho fallecidos y más de 2 mil 400 contagios de covid-19 se reportaron este jueves en la región de Los Lagos
Investigan muerte de un hombre hallado al interior de un vehículo en Chonchi, provincia de Chiloé
En cuesta La Codicia camino a Ralún: Bus de recorrido Puelo-Puerto Montt se accidentó dejando 13 lesionados
Manifiestan preocupación por eventuales tomas en terrenos de proyecto para parque urbano para Puerto Montt
‘La dejó tirada’: Exigen pena máxima para conductor ebrio que mató a joven tras brutal atropello en Puerto Montt
Corte de Apelaciones ordenó eliminar funa en Facebook contra mujer que expulsó a joven de playa de Puerto Montt
Brote de Covid-19 obliga a suspender clases en otro establecimiento municipal de Puerto Montt


Sigue la tendencia a la baja en casos covid-19 concentrados en la provincia de Llanquihue
Fondo de Inclusión Migrante
Vuelve el Kick Boxing este viernes a Puerto Varas
Camioneros se toman la Ruta 5 a la altura de Puerto Montt
Los Lagos: Tres comunas de la región cambiarán de fase en el plan Paso a Paso a partir de este miércoles
Corte de Agua en Puerto Montt: Será el miércoles 20 y durará 8 horas en sector Bellavista [MAPA]
Autoridades regionales lanzan programa Sence Digitalízate para el Trabajo
Municipalidad llama a participar en elaboración de Ordenanza
4823 títulos de dominio se han entregado en la region de Los Lagos
Gobierno anuncia nueva Seremi de Deportes en la región de Los Lagos.


Invitación a participar en concurso fotográfico FotoConciencia
La Escuela Nº 81 y el valor de la Educación Pública
Osorno entre los destinos más cotizados: Sur de Chile lidera compra de pasajes en bus durante abril y mayo
Delegado realiza balance de principales logros del Gobierno en la región
Un 22% crecieron las exportaciones de la Región de Los Lagos
Incautan más de 5 toneladas de recursos del mar.
En Puerto Varas Servicio Mejor Niñez realizó el Lanzamiento provincial del Plan de Familias de Acogida Especializada (FAE)
Feria de Arte, Diseño y Artesanía en el Centro Cultural Bosque Nativo: Al Encuentro de la Artesanía
CAMM inauguró “Abundancia en Flor” de la artista local Mónica Kaschel Hitschfeld
"Fernando Santiván y su admiración por Puerto Varas" Por Rafael Piquer A. Investigador en Historia de la Región de Los Lagos

### Noticias positivas Puerto Montt (EMPLEO)

In [143]:
def positividad_emp(atributo):
    r = sqldf(f'SELECT title, title_label, title_score, text, dominant_Topic, url FROM df_EMPLEO_1 WHERE title_label = "{atributo}"')
    r = r.sample(len(r))
    r = r[:10]
    for i in r['title']:
        print(i)
    print()
positividad_emp('NEG')
positividad_emp('NEU')
positividad_emp('POS')

Operativo detectó el ingreso irregular de 11 extranjeros
Hallazgo arqueológico en Casa Pauly de Puerto Montt paraliza proyecto de conservación
Joven trabajador perdió su mano en grave accidente laboral en Puerto Montt
Llevaba a su hijo lactante de 4 meses: Carabineros detuvo a menor de edad colombiana por tráfico de drogas en bus con destino a Puerto Montt
Desalojan a vendedores callejeros de Puerto Montt
Detonan bomba de ruido frente a Octava Comisaría de Carabineros
Chiloé: lo que nos dejó el 2021
Condenan a 5 años y un día de presidio efectivo a autor del delito de violación en Puerto Varas
Efectos de la masiva migración a la ciudad: Más de100 menores en lista de espera en colegios de la comuna de Puerto Varas
Llanquihue: dos trabajadores murieron electrocutados

Sename y Fundación Kalen firman convenio para la reinserción social juvenil en Puerto Montt
Pilotos de la Fuerza Aérea realizan cursos de vuelo en la zona
Municipalidad llama a participar en elaboración de Ordenanza
Postulaciones abiertas para capacitación científica en educación temprana en Los Lagos
Medicamentos un 80% más baratos: Farmacia Ciudadana de Puerto Montt comenzará a operar en nuevas dependencias
IIIª Brigada Aérea celebró 92° aniversario de la FACh con ceremonia militar
Core propone un plan de inversiones para impulsar el río Maullín
¿Eres un micro o pequeño emprendedor?, Sence invita a postular a los cursos de capacitación Despega Mipe
Encuesta ULA muestra inclinación por el Apruebo en la región de Los Lagos
Más de 6 mil 800 niños retornan a los jardines de Integra en la región

UACh Sede Puerto Montt: Abordarán la diversidad cultural de la región en conversatorio de arte, cultura e identidad
Más de un centenar de establecimientos educacionales se suman al proceso de certificación ambiental 2022 coordinado por el Ministerio del Medio Ambiente en Los Lagos
Estudiantes de liceos de Pilmaiquén y Río Negro clasificaron a la final regional de concurso de tecnología e innovación.
Organizado por TEAbrazo Puerto Varas y la UACH: Con destacados expositores se realizará el primer seminario de autismo para la educación inicial en la zona
Alcalde Paredes califica Aquasur 2022 como la gran plaza de negocios
"Fernando Santiván y su admiración por Puerto Varas" Por Rafael Piquer A. Investigador en Historia de la Región de Los Lagos
Puerto Montt suma preferencias para visitas turísticas durante fin de Semana Santa
Región de Los Lagos: Niños de Integra aprenden sobre vida saludable
Con una exitosa primera noche comenzó el Festival “Encuentro de Pueblos” en Puerto Montt: hoy y mañana sigue
Dr. Arturo Guijón, cirujano del Hospital Puerto Montt y miembro de la Fuerza Aérea: “La unión de la medicina y las Fuerzas Armadas es la simbiosis perfecta para ayudar a la comunidad”